*{
  display: grid;
  background-color: rgb(38, 88, 71);
}

/*Nav*/
.nav{
  background-color: rgb(101, 91, 91);
  height: 2rem;
  min-height: 10%;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1%;
  border-radius: 1cm;
  display: flex;

}

.name{
  
  margin-top: 1px;
  color: rgb(2, 22, 16);
  background-color: rgb(101, 91, 91);
  
}  

.buttons{
  display: flex;
  margin-right:  3px;
  background-color: rgb(101, 91, 91);
}

.resume{
  background-color: rgb(31, 191, 132);
  border-radius: 15%;
}
.dropdown{
  background-color: rgb(31, 191, 132);
  border-radius: 15%;
}
/*Nav*/

/*Body*/
.container{
  display: grid;
  grid-gap: 1rem;
  height: 90vh;
  min-height: 80%;
}

.item1{
  background-color: rgba(45, 33, 119, 0.315);
  grid-row: 1 / 4;
  grid-column: 1 / 3;
  min-height: 10rem;
  border-radius: 1cm;
  text-align: center;
}

.item1 *{
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  margin-bottom: -5px;
  

}





.profile{
  height: 13rem;
  width: 10rem;
  border-radius: 0.5cm;
  
}

.socialLane{
  display: flex;
  background-color: transparent;
 
}

.socials{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  
  
}

.item2{
  background-color: rgb(49, 49, 113);
  grid-row: 1 / 4;
  grid-column: 3 / 5;
  border-radius: 1cm;
  justify-content: center;
  align-items: center;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.item3{
  background-color: rgb(90, 8, 8);
  grid-row: 1 / 7;
  grid-column: 5 /  8;
  border-radius: 1cm;
  
  display: block;
  max-width: 95%;
 
 
}

.item3 *{
  background-color: transparent;
  
}

.item3 h1{
  margin-left: 10rem;
  margin-right: 10rem;
  border-bottom-color: black;
}

.item3 div{
  max-width: 100%;
  display: block;
}

.item3 div *{
  margin-bottom: -10px;
}

.item3 div h3{
  font-size: 2rem;
}
.item4{
  background-color: rgb(109, 202, 16);
  grid-row: 4 / 7;
  grid-column: 1 / 5;
  padding: 20px;
  border-radius: 1cm;
  padding: 15px;
  margin-right: 50px;
  margin-left: 50px;
}

.item4 *{
  background-color: transparent;
  display:block;
}

.item4 h1{
  text-align: center;
}

.item4 div{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-x: auto;
  

}

.item4 div *{
  background-color: aqua;
  border-radius:  5px 7px 5px;
  margin: 5px;
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
/*Body*/
