.nav{
    background-color: rgb(101, 91, 91);
    height: 2rem;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 1%;
    border-radius: 1cm;
    display: flex;

  }

.name{
    
    margin-top: 1px;
    color: rgb(2, 22, 16);
    background-color: rgb(101, 91, 91);
    
}  

.buttons{
    display: flex;
    margin-right:  3px;
    background-color: rgb(101, 91, 91);
}

.resume{
    background-color: rgb(31, 191, 132);
    border-radius: 15%;
}
.dropdown{
    background-color: rgb(31, 191, 132);
    border-radius: 15%;
}
